/* Estilos Gerais */
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    background-color: #f7f7f7;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

/* Fontes para títulos */
h1, h2, h3, p{
    font-family: 'Newsreader', serif;
    color: #1b4109;
    margin-bottom: 0.5em;
}

/* Links e Listas */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

a:hover {
    color: #1b4109;
    cursor: pointer;
}

/* Cabeçalho */
header {
    grid-column: 1;
    grid-row: 1;
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px; 
    background-color: #e2fde3;
    z-index: 10;
    transition: box-shadow 0.3s; 
}

/* Adiciona sombra quando o cabeçalho é fixo */
header.scrolled {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navTopo {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100%;
    padding: 0 20px; 
}

.navTopo > ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between; 
}

.navTopo > ul > li {
    display: flex;
    align-items: center;
}

/* Estilo para a classe .icons */
.navTopo .icons {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 10px;
}


/* Estilo para os links */
.navTopo a {
    text-decoration: none;
    color: #347534;
    font-weight: bold;
}


.navTopo a:hover {
    color: #1b4109;
    cursor: pointer;
}

/* Estilos principais */
main {
    grid-column: 1;
    grid-row: 2;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

/* Home */
#home {
    height: 92vh;
    overflow: hidden; 
}

.slider {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
    height: 100%;
}

.slide {
    min-width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#prev {
    left: 10px;
}

#next {
    right: 10px; 
}


#textHome {
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translateX(-50%);
    color: #fff; 
    z-index: 2; 

    display: flex;
    flex-direction: column; 
    align-items: center;
}


#textHome h1 {
    color: #1b4109;
    font-size: 3em;
}

.slogan {
    font-size: 1.2em;
    color: #ffffff;
}

/* Produtos */
#velas {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#velas h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}


#produtos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    align-items: stretch;
}

.produto {
    grid-column: auto;
    grid-row: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    padding: 20px;
    text-align: center;
    height: auto;
}

.produto:hover {
    transform: translateY(-5px);
}

.produto img {
    max-width: 100%;
    border-radius: 10px;
}

.produto h3 {
    font-size: 1.5em;
    margin-top: 15px;
    color: #1b4109;
}

.produto p {
    font-size: 1.2em;
    color: #333;
}

/* Sobre */
#sobre {
    text-align: center;
    background-color: #ebffec;
    border-radius: 15px; 
    padding: 30px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    width: 40%; 
    margin: 0 auto;
    margin-bottom: 4%;
}

#sobreTxt {
    max-width: 80%; 
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
}


.btn-ver-mais {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #006a04;
    color: #ffffff;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-ver-mais:hover {
    background-color: #4eab51;
    color: #ffffff;
}

/* Rodapé */
footer {
    grid-column: 1;
    grid-row: 3;
    background-color: #e2fde3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

footer div {
    margin: 10px;
    text-align: center;
}
/* Estilos Responsivos */
@media (min-width: 768px) {
    /* Fonte do título na seção sobre */
    #sobre h2 {
        font-size: 2.2em;
    }
    /* Fonte do slogan */
    .slogan {
        font-size: 1.4em;
    }
}

@media (max-width: 768px) {
    /* Ajustando fontes para telas menores */
    #textHome h1 {
        font-size: 2.5em;
    }
    .slogan {
        font-size: 1.1em;
    }
    .produto h3 {
        font-size: 1.3em;
    }
    .produto p {
        font-size: 1em;
    }
    #sobre h2 {
        font-size: 2em;
    }
}

@media (max-width: 425px) {
    /* Fontes menores para dispositivos móveis */
    #textHome h1 {
        font-size: 2em;
    }
    .slogan {
        font-size: 1em;
    }
    .produto h3 {
        font-size: 1.2em;
    }
    .produto p {
        font-size: 0.9em;
    }
    .btn-ver-mais {
        font-size: 0.8em;
    }
    #sobre h2 {
        font-size: 1.8em;
    }
}
