/* Estilos Gerais */
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    background-color: #f7f7f7;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

/* Fontes para títulos */
h1, h2, h3, p{
    font-family: 'Newsreader', serif;
    color: #1b4109;
    margin-bottom: 0.5em;
}

/* Links e Listas */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

a:hover {
    color: #1b4109;
    cursor: pointer;
}

/* Cabeçalho */
header {
    grid-column: 1;
    grid-row: 1;
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px; 
    background-color: #e1f8ae;
    z-index: 10;
    transition: box-shadow 0.3s; 
}

/* Adiciona sombra quando o cabeçalho é fixo */
header.scrolled {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navTopo {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100%;
    padding: 0 20px; 
}

.navTopo > ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between; 
}

.navTopo > ul > li {
    display: flex;
    align-items: center;
}

/* Estilo para a classe .icons */
.navTopo .icons {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 10px;
}


/* Estilo para os links */
.navTopo a {
    text-decoration: none;
    color: #347534;
    font-weight: bold;
}


.navTopo a:hover {
    color: #1b4109;
    cursor: pointer;
}

/* Estilos principais */
main {
    grid-column: 1;
    grid-row: 2;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

/* Home */
#home {
    height: 92vh;
    overflow: hidden; 
}

.slider {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
    height: 100%;
}

.slide {
    min-width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    color: #1b4109;
    border: none;
    padding: 15px;
    cursor: pointer;
    z-index: 3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#prev {
    left: 10px;
}

#next {
    right: 10px; 
}




button:hover {
    background-color: #e1f8ae;
    transition: background-color 0.3s;
}

#textHome {
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translateX(-50%);
    color: #fff; 
    z-index: 2; 

    display: flex;
    flex-direction: column; 
    align-items: center;
}


#textHome h1 {
    color: #1b4109;
    font-size: 3em;
}

.slogan {
    font-size: 1.2em;
    color: #ffffff;
}

/* Produtos */
#velas {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#velas h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.produto {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    padding: 20px;
    text-align: center;
}

.produto:hover {
    transform: translateY(-5px);
}

.produto img {
    max-width: 100%;
    border-radius: 10px;
}

.produto h3 {
    font-size: 1.5em;
    margin-top: 15px;
    color: #1b4109;
}

.produto p {
    font-size: 1.2em;
    color: #333;
}

/* Sobre */
#sobre {
    text-align: center;
    background-color: #f3ffd9; 
    border-radius: 15px; 
    padding: 30px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    width: 40%; 
    margin: 0 auto;
    margin-bottom: 4%;
}

#sobreTxt {
    max-width: 80%; 
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
}


.btn-ver-mais {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #1b4109;
    color: #f3ffd9;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-ver-mais:hover {
    background-color: #e1f8ae;
    color: #1b4109;
}

/* Rodapé */
footer {
    grid-column: 1;
    grid-row: 3;
    background-color: #e1f8ae;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

footer div {
    margin: 10px;
    text-align: center;
}

/* Estilos Responsivos */
@media (min-width: 768px) {
    #produtos {
        grid-template-columns: repeat(2, 1fr);
    }
    /* .navTopo {
        padding: 1% 4%;
    } */

    #sobre {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .navTopo {
        flex-direction: column;
        gap: 10px;
        /* padding: 1.5% 4%; */
    }
    
    #produtos {
        grid-template-columns: 1fr;
    }
    #sobre {
        width: 60%;
    }
}

@media (max-width: 425px) {
    #textHome h1 {
        font-size: 2em;
    }

    .slogan {
        font-size: 1em;
    }

    .btn-ver-mais {
        font-size: 0.9em;
    }
    #sobre {
        width: 70%;
    }
}