body{
    text-wrap: wrap;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    gap: 0px;


    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr auto;
    background-color: rgb(255, 255, 255);
}
    body ul{
        list-style-type: none;
        padding: 0px;
    }

    body a{
        text-decoration: none;
    }
    body a:hover{
        cursor: pointer;
    }

    body i:hover{
        cursor: pointer;
    }

    header{
        grid-column: 1;
        grid-row: 1;
        position: fixed;
    
        height: 50px;
        width: 100%;
        background-color:rgb(225, 248, 174);
        
        padding: 0px;
    }
        *>header .navTopo a:hover{
            color: rgb(27, 65, 9);
        }
        .navTopo ul{
            display: flex;
            justify-content: space-between;
            margin-left: 4%;
            margin-right: 4%;
            width: 92%;
        }
        .navTopo ul li {
            display: inline;
            position: relative;
            margin-left: 0px;
        }
        .icons{
            width: auto;
            display: inline;
            position: relative;
        }
        .navTopo .icons{
            display: inline;
            position: relative;
            margin-inline: 0px;
            width: 200px;
        }
         .navTopo ul li a{
            width: auto;
            height: auto;
            text-decoration: none;
            color: rgb(52, 117, 52);
        }
main{
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: auto;
}
.login-container {
    background-color: #fff;
    box-shadow: 0 0px 30px rgb(225, 248, 174);
    border-radius: 10px;
    text-align: center;
    border: 1px solid #e0d9c8;
    grid-column: 1;
    grid-row: 2;
    align-self: center; 
    justify-self: center;
    height: auto; 
}

.Dados {
    margin-bottom: 20px;
    text-align: left;
}

.Dados label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.Dados input {
    width: 91%;
    padding: 12px;
    border: 1px solid #ccc;
    border-right: none;
    border-top: none;
    border-left: none;
    font-size: 14px;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: black;
    border: none;
    border-radius: 15px;
    color: rgb(229, 255, 174);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    background-color: rgb(238, 255, 201);
    color: black;
}

.Criar p {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
}

.Criar button {
    width: 100%;
    padding: 12px;
    background-color: black;
    border: none;
    border-radius: 15px;
    color: rgb(229, 255, 174);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Criar button:hover {
    background-color: rgb(229, 255, 174);
    color: black;
}

footer {
    position: sticky;
    background-color:rgb(225, 248, 174);
    text-align: center;
    grid-row: 3;
    grid-column: 1;
    height: 50px;
    width: calc(100%-20px);
}
footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    padding: 10px;
}

footer ul li a {
    color: #555;
    text-decoration: none;
    font-size: 14px;
}

footer ul li a:hover {
    color: rgb(12, 13, 9);
    text-decoration: underline;
}

@media (min-width: 768px){
    .login-container {
        width: 40%;
        padding: 40px;
    }
}

/* Tablet: */
@media (min-width: 425px) and (max-width: 768px){
    .login-container {
        width: 70%;
        padding: 40px;
    }
}

/* Mobile: */
@media (max-width: 425px) {
    .login-container {
        width: 100%;
    }
        .login-container > *{
            padding: 20px;
        }

    .Dados input,
    button {
        font-size: 14px;
    }
}
