/* Estilos Gerais */
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    background-color: #f7f7f7;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

/* Fontes para títulos */
h1, h2, h3, p{
    font-family: 'Newsreader', serif;
    color: #1b4109;
    margin-bottom: 0.5em;
}

/* Links e Listas */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

a:hover {
    color: #1b4109;
    cursor: pointer;
}

/* Cabeçalho */
header {
    grid-column: 1;
    grid-row: 1;
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px; 
    background-color: #e2fde3;
    z-index: 10;
    transition: box-shadow 0.3s; 
}

/* Adiciona sombra quando o cabeçalho é fixo */
header.scrolled {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navTopo {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100%;
    padding: 0 20px; 
}

.navTopo > ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between; 
}

.navTopo > ul > li {
    display: flex;
    align-items: center;
}

/* Estilo para a classe .icons */
.navTopo .icons {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 10px;
}


/* Estilo para os links */
.navTopo a {
    text-decoration: none;
    color: #347534;
    font-weight: bold;
}


.navTopo a:hover {
    color: #1b4109;
    cursor: pointer;
}
main{
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: auto;
}
.perfil {
    background-color: #fff;
    box-shadow: 0 0px 30px #aaaaaa;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #e0d9c8;
    grid-column: 1;
    grid-row: 2;
    align-self: center; 
    justify-self: center;
    height: auto; 
}

.info {
    margin-bottom: 20px;
    text-align: left;
}

.info>* {
    display: block;
    margin-bottom: 8px;
    color: #555;
}
.botoes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.botoes a{
    grid-column: auto;
    grid-row: auto;
}

.Conta{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.Conta >*{
    grid-column: auto;
    grid-row: auto;
    gap:5px;
}

.img img{
    width: 50%;
    border-radius: 100%;
}

button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #006a04;
    color: #ffffff;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    border: 0px;
    width: 100%;
}

button:hover {
    background-color: #4eab51;
    color: #ffffff;
}




footer {
    position: sticky;
    background-color: #e2fde3;
    text-align: center;
    grid-row: 3;
    grid-column: 1;
    height: 50px;
    width: calc(100%-20px);
}
footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    padding: 10px;
}

footer ul li a {
    color: #555;
    text-decoration: none;
    font-size: 14px;
}

footer ul li a:hover {
    color: rgb(12, 13, 9);
    text-decoration: underline;
}
@media (min-width: 768px){
    .perfil {
        width: 40%;
        padding: 40px;
    }
}

/* Tablet: */
@media (min-width: 425px) and (max-width: 768px){
    .perfil {
        width: 70%;
        padding: 40px;
    }
}

/* Mobile: */
@media (max-width: 425px) {
    .perfil {
        width: 100%;
    }
        .perfil > *{
            padding: 20px;
        }

    .info input,
    button {
        font-size: 14px;
    }
}
