/* Estilo base */
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    background-color: #f7f7f7;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

/* Fontes para títulos */
h1, h2, h3, p {
    font-family: 'Newsreader', serif;
    color: #1b4109;
    margin-bottom: 0.5em;
}

/* Links e Listas */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

a:hover {
    color: #1b4109;
    cursor: pointer;
}

/* Cabeçalho */
header {
    grid-column: 1;
    grid-row: 1;
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #e1f8ae;
    z-index: 10;
    transition: box-shadow 0.3s;
}

header.scrolled {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navTopo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.navTopo > ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Links do menu */
.navTopo a {
    color: #347534;
    font-weight: bold;
}

.navTopo a:hover {
    color: #1b4109;
}

/* Estilo principal */
main {
    grid-column: 1;
    grid-row: 2;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

main img {
    width: 100%;
    border-radius: 10px;
}

/* Informações do produto */
.produto {
    grid-column: 1;
    color: black;
}

.info {
    width: auto;
    margin: 0;
    padding: 0;
}

.info button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #1b4109;
    color: #f3ffd9;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    border: 0px;
    width: 100%;
}

.info button:hover {
    background-color: #e1f8ae;
    color: #1b4109;
}

.info a {
    color: rgb(27, 65, 9);
    text-decoration: underline;
}

/* Seção de recomendação */
#recomendacao {
    grid-column: 1;
    margin-top: 50px;
}
    #recomendacao h1{
        grid-column: 1/4;
        grid-row: 1;
    }

    #produtosRec {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        padding: 20px;
        text-align: center;
    }
    #produtosRec:hover{
        transform: translateY(-5px);
    }
    
    #produtosRec img {
        max-width: 100%;
        border-radius: 10px;
    }
    
    #produtosRec h3 {
        font-size: 1.5em;
        margin-top: 15px;
        color: #1b4109;
    }
    
    #produtosRec p {
        font-size: 1.2em;
        color: #333;
    }
/* Rodapé */
footer {
    grid-column: 1;
    grid-row: 3;
    background-color: #e1f8ae;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

footer div {
    margin: 10px;
    text-align: center;
}

/* Media Queries */
@media (min-width: 768px) {
    main {
        width: 90%;
    }

    .produto {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    #recomendacao {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 1fr;
        gap: 3%;
        margin-bottom: 3%;
    }
    #produtosRec{
        grid-row: 2;
        grid-column: auto;
        
    }

}

@media (max-width: 768px) {
    .navTopo {
        flex-direction: column;
        gap: 10px;
    }

    main {
        width: 90%;
    }

     #recomendacao {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 1fr;
        gap: 3%;
        margin-bottom: 3%;
    }
    #produtosRec{
        grid-row: 2;
        grid-column: auto;
        
    }
}

@media (max-width: 425px) {
    #recomendacao {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(3, 1fr);
        gap: 3%;
        margin-bottom: 3%;
    }
    #produtosRec{
        grid-row: auto;
        grid-column: 1;
        
    }
}
